/* Global overrides */
table {
	width: 800px;
	padding: 0px;
	border: 0px;
	margin-left:auto;
	margin-right:auto;
	
}
h1 {
	text-align:center;
}

iframe {
	display: block; /* I had to add this line in order for the frame to center properly */
	border: none;
	margin-left:auto;
	margin-right:auto;
}

body {
	font-family: serif;
	background-color:white;

}


/* Used for the top page div */
.header {
	width:800px;
	margin: 0 auto;
	}

.title1  {
	font-size: 48px;
	text-align:left;
}

.logo {
	height:270px;
	background-image:url("mainlogo.jpg");
}

.titleTable td {
	vertical-align:top;
}

.menuTable {
	font-family:sans-serif;
	background-color:#ADC299;
	text-align:center;
}

.menuBar:Hover {
	background-color:#CEDAC2;
	}
	
.menuBar {
	width: 20%;
	}


.centerAlignBody {
	background-color:lightgrey;
	text-align:center;
}

.leftAlignBody {
	background-color:lightgrey;
	text-aligh:left;
}
